/*
*= require jquery.tagsinput
*= require bootstrap-wysihtml5
*= require chosen
*/

fieldset {
  margin-bottom: 18px;
}

legend {
  margin: 0;
}
legend + * {
    -webkit-margin-top-collapse : separate;
    margin-top                  : 27px;
}

.form-action-bar.sticky {
	background-color: #2C2C2C;
	background-image: -moz-linear-gradient(top, #333, #222);
	background-image: -ms-linear-gradient(top, #333, #222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
	background-image: -webkit-linear-gradient(top, #333, #222);
	background-image: -o-linear-gradient(top, #333, #222);
	background-image: linear-gradient(top, #333, #222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	box-shadow: none;
	border:0 none;
}

.form-action-bar {
  padding: 9px;
  margin-bottom: 19px;
  background-color: #EEE;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#EEE));
  background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
  background-image: -ms-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
  background-image: -o-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='whiteSmoke', endColorstr='#EEE',GradientType=0 );
  background-image: linear-gradient(top, whiteSmoke 0%,#EEE 100%);
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

label .badge {
	float: right;
}

input.title {
	font-size: 18px;
	line-height: 36px;
	height: 36px;
	font-weight: 700;
}

input.ui-autocomplete-input, input.resource-input {
	border-right: none;
	vertical-align: middle;
  width: 66%;
  margin-right: -2px;
}

input.resource-input {
  margin-right: -4px;
  width: 300px;
}

.tagsinput {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.btn-after-input {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  line-height: 18px;
  margin: 0;
  vertical-align: top;
}

.input-button-group {
display: inline-block;
vertical-align: middle;
width: 200px;
}

.input-button-group .btn-after-input {
float: left;
display: block;
margin-left: -1px;
}

.input-button-group .btn-after-input:first-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

form .input-slider {
  display: inline-block;
  width: 73%;
}

.ui-slider-horizontal {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
  background: linear-gradient(left,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */
}

input.datepicker {
  padding-left: 24px;
  background-image: url(/assets/iconic/gray/calendar_12x12.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  cursor: pointer;
  background-color: white;
  width: auto;
}

a.close.datepicker-cancel {
  float: none;
  margin-left: -18px;
  margin-right: 5px;
  vertical-align: top;
}

.daterange input.datepicker {
  width: 100px;
}

.help-inline {
display: block;
vertical-align: middle;
padding-left: 5px;
margin-top: -8px;
margin-bottom: 18px;
font-style: italic;
}

input,
textarea,
select,
.uneditable-input {
	width: 99%;
	padding: 4px 0.5%;
}

.datetime > .input > select, .time > .input > select, .date > .input > select {
	width: auto;
}

.input {
  margin-bottom: 18px;
}


.resource_updated_at {
  font: italic 12px/36px Arial, Helvetica, sans-serif;
  color: #888;
}  

.associated-resource.deleted .fade-if-deleted {
  opacity: 0.5;
}

.associated-resource.deleted .hide-if-deleted {
  display: none
}


.help-inline
{
  padding: 0px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #C09853;
  margin-top: 0;
}

.help-inline:before
{
 content: "";
 border: solid 10px transparent; /* set all borders to 10 pixels width */
 border-bottom-color: #FCF8E3; /* the callout */
 border-top: 0; /* we do not need the bottom border in this case */
 width: 0;
 height: 0;
 overflow: hidden;
 display: block;
 position: relative;
 top: -9px; /* border-width of the :after element + padding of the root element */
}

.boolean > .input label {
  display: inline-block;
  margin-left: 10px;
}

ul.choices-group {
list-style-type: none;
}

.file-input-attachment-filename {
  width: 200px;
  display: inline-block;
  overflow: hidden;
}