<%%= admin_form_for [:"<%= scope %>", current_resource], :html => {:multipart => true} do |f| -%>

  <%%= f.errors %>
  
  <%%= f.inputs do %>
    <%%= f.resource_inputs(current_resource) %>
  <%% end -%> 

  <%%= f.actions do %>
    <%%= f.resource_submit(current_resource) %>
  <%% end %>
  
<%% end -%>
