/*
*= require support/base
*= require support/bootstrap
*= require support/forms
*= require support/ajax_loading
*= require support/uploads
*/
 
@media all and (min-width:980px) {
 body {
   position: relative;
   padding-top: 68px;
 }
}

#left-aside .nav {
  padding-bottom: 180px;
}

.thumbnails > li {
  float: left;
  margin-left: 0 !important;
  margin-right: 16px;
}

.chzn-container-multi .chzn-choices .search-choice {
  display: block;
  width: 96%;
  line-height: 20px !important;
}

.chzn-container-active .chzn-choices {
  padding-top: 4px;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  background: url(/assets/chosen-sprite.png) right top no-repeat !important;
  margin-top: 3px;
}


.chzn-container-multi .chzn-choices .search-field {
  background: url(/assets/iconic/gray/magnifying_glass_12x12.png) no-repeat left center;
  margin-left: 7px !important;
  padding-left: 12px !important;
}