/*
*= require support/base
*= require support/bootstrap
*= require support/forms
*= require support/ajax_loading
*= require support/uploads
*/
 
@media all and (min-width:980px) {
 body {
   position: relative;
   padding-top: 68px;
 }
}

#left-aside .nav {
  padding-bottom: 180px;
}