<% if content_for? :title -%>
  <div class="page-header"><h1><%= yield :title %></h1></div>
<% else -%>
  <div class="page-header"><h1><%= t('fullstack.admin.edit', :default => "Edit") %> `<%= title_for(current_resource) %>`</h1></div>
<% end -%>

<%= render :partial => 'form' %>

