<% if content_for? :title -%>
  <div class="page-header"><h1><%= yield :title %></h1></div>
<% else -%>
  <div class="page-header"><h1><%= t('fullstack.admin.new', :default => "New") %> <%= t(singular_name, :scope => "activerecord.models") %></h1></div>
<% end -%>

<%= render :partial => 'form' %>

